*{
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("../images/header_bg.jpg");
    background-color: black;
}
img {
    display: block;
    margin: 275px auto 0px auto;
    width: 25%;
}
#home {
    float: left;
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#features {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#pages {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#icons {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%
}
#portofolio {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#blog {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#contact {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.416);
    font-size: 40px;
}
.buttons {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    margin: 20px;
}
#button1 {
    margin-left: 80px;
}
.buttonText {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;  
}
nav {
    background-color:white;
}
.menu {
    background-color: grey;
}