*{
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("../images/header_bg.jpg");
    background-color: black;
}
#logo {
    display: block;
    margin: 275px auto 0px auto;
    width: 25%;
}
#home {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.416);
    font-size: 40px;
}
#features {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#pages {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#icons {
    display: block;
    margin: 0px auto 0px auto;
    height: 10%;
    width: 45%;
    margin-left: 550px;
}
#portofolio {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#blog {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
#contact {
    display: block;
    margin: 0px auto 0px auto;
    width: 50%;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.416);
    font-size: 40px;
}
i {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.416);
    font-size: 40px;
}
.buttons {
    background-color: rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    margin: 20px;
    cursor: pointer;
}

.buttonText {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    font-family: 'Roboto', sans-serif;  
}
nav {
    background-color:white; 
    position: fixed;
    top: 0px;
    width: 100%;
}
.menu {
    float: right;
    background-color: grey;
    width: 55px;
    height: 55px;
    cursor: pointer;
}
#name  {
    color: white;
    margin-top: 275px;
    font-family: 'Roboto', sans-serif;  
    font-size: 80px;
    text-align: center;
}
#button1 {
    margin-left: 15px;
}